* {
  box-sizing: border-box;
}

body {
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    /* background-color: coral; */
  }

  .headK{
    color: red;
  }

  .dark-mode-body {
    background-color: black;
    color: white;
  }

  .dark-mode-body header{
    background-color: black;
    color: white;

  }

  .dark-mode-head {
    background-color: black;
    color: white;   
    background-image: url("assets/logo.png");;
  }


.headerPusat {
    height: 100px;
    width: 100%;
    background-color: rgb(184, 20, 20);
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .header-kiri {
    float: left;
    margin-left: 30px;
    margin-top: 30px;    
  }
  
  #header-kanan {
    color: black;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
  }

  a:link {
    text-decoration: none;
  }
  
  #header-kanan a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }

  #header-kanan button {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    background-color: transparent;
    border: none;
  }
  
  #header-kanan a:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }

  #header-kanan button:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }

.content1{
  height: 800px;
  width: 90%;
  padding: 150px 0px 100px 0;
  background-image: url("assets/Lolai-Toraja-Utara.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.content1 h1{
  height: 550px;
  color: wheat;
  padding-top: 100px;
}


/* list gambar */
div.gallery {
  border: 2px solid #ccc;
  width: 90%;
  height: 200px;
  
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 200px;
  height: 155px;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.responsive {
  padding: 0px 6px;
  float: left;
  width: 32.99999%;
  
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




.footer-down{
  background-color: #777;
  width: 100%;
  padding-left: 10%;
}



